{% extends 'base.html' %}
{% load static %}
{% block title %}Stoneridge-Registration Info{% endblock title %}
{% block content %}
<div class="container">
    <div class="content" style="position: absolute; top: 30%; left: 25%;">
        <div class="content-head">
            <h1 class="mb-0 site-logo" style="text-align: left; padding-bottom: 10px;">
                <a href="{% url 'home' %}" class="h2 mb-0 text-success">Mariagiri</a>
            </h1>
        </div>
        <div class="content-block">
            <h4>Please fill the details below<br>
                Press the button below</h4>
            <a href="{% url 'userdetails' %}" class="btn btn-success">More Details</a>
        </div>
    </div>
</div>
{% endblock %}